body {
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}

h1,
{
	margin: 0;
}

header {
	letter-spacing: 1px;
	color: black;
	background: #aaa033 ;
}

.start { 
	display: flex;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name_title {
	align-items: center;  
	display: flex;
	justify-content: center;
	width: 90%;
}

section {
	letter-spacing: 1px;
	color: black;
	background: #d6c5d0;
}

.middle {
	display: flex;
	justify-content: flex-start;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.task {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 60%;
}

.size_text {
	font-size: 23px;
}

.animation {
	/*Rectangle*/
	display: flex;

    width: 200px;
    height: 200px;
    background: #b4b4a5;
   	-webkit-animation: linear 2s rectangle_color infinite;
}

@-webkit-keyframes rectangle_color {
	0%{background: #20686c;}
	5%{background: #005236;}
	50%{background: #6bc4a6;}
	95%{background: #fe982a;}
	100%{background: #bc4f07;}

}

.name_animation {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 23px;
	padding-top: 20px;
	padding-bottom: 20px;

}

footer {
	background: #aaa033 ;
}

.space5 {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.icons {
	display: flex;
	width: 15%;
	justify-content: space-between;
}